services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: app
    container_name: agenda
    ports:
      - "80:80"
      - "443:443"
    volumes:
      # 1. Mapeia o seu projeto local para o contentor
      - .:/var/www/app/:cached
      
      # 2. (A CORREÇÃO CRUCIAL) Cria um volume nomeado RÁPIDO para a pasta 'vendor'
      #    Isto resolve os problemas de cache (404) e desempenho (idioma)
      - vendor_cache:/var/www/app/src/vendor
      
    networks:
      - app
      
  db:
    platform: linux/x86_64
    image: mysql:5.7
    restart: always
    container_name: db_agenda
    environment:
      MYSQL_DATABASE: "db"
      MYSQL_USER: "user"
      MYSQL_PASSWORD: "password"
      MYSQL_ROOT_PASSWORD: "password"
    ports:
      - "3306:3306"
    expose:
      - "3306"
    volumes:
      # Mapeia a pasta local ./db para os dados do MySQL
      - ./db/:/var/lib/mysql
    networks:
      - app

networks:
  app:
    driver: bridge

# Define o volume nomeado 'vendor_cache' que usámos acima
volumes:
  vendor_cache: