services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: app
    container_name: agenda
    ports:
      - "80:80"
      - "443:443"
    volumes:
      # 1. Espelha o seu projeto (corrigindo a lentidão com ':cached')
      - .:/var/www/app/:cached
      
      # 2. (A CORREÇÃO) Cria um volume rápido e separado para a pasta 'vendor',
      #    corrigindo o problema de performance E o erro 'autoload.php'.
      #    (Note que o caminho aqui é o caminho DENTRO do contentor)
      - /var/www/app/src/vendor
      
    networks:
      - app
  db:
    platform: linux/x86_64
    image: mysql:5.7
    restart: always
    container_name: db_agenda
    environment:
      MYSQL_DATABASE: "db"
      MYSQL_USER: "user"
      MYSQL_PASSWORD: "password"
      MYSQL_ROOT_PASSWORD: "password"
    ports:
      - "3306:3306"
    expose:
      - "3306"
    volumes:
      - ./db/:/var/lib/mysql
    networks:
      - app
networks:
  app:
    driver: bridge